@{
    ViewBag.Title = "Cartoon Tennis League";
}

<div class="jumbotron">
    <img src="~/Content/images/SimpsonsTennis.jpg" alt="SimpsonsTennis" width="500" style="display: block;margin-left: auto;margin-right: auto;" />
    <h1 style="text-align: center;">Cartoon Tennis League</h1>
    <p class="lead">This is the administrative website of the Cartoon Tennis League. At the top you can find all the different kinds of info and on those pages you can
    create, read, update and delete data. The only kind of info that doesn't show up in the navbar is Fines but these can be added via the player edit form.</p>
</div>
